/* responsiveness of the website which make supportable for all the devices */


@media only screen and (width <= 1100) {
    #root{
        left: 2%;
    }
}
@media only screen and (width <= 412px) {
    /* .selection-done{
        left: 25%;
    }
    .selection-close{
        left: 73%;
    } */
    /* html,body{ */
        /* max-width: 412px;
        min-width: 412px;
        max-height: 914px;
        min-height: 914px; */
    /* } */
    #root{
        max-width: 19rem;
        min-width: 18rem;
        /* left: 1rem;
        top: 0.5rem; */
        min-height: 100%;
        max-height: 80%;
        overflow-y: scroll;
        position: fixed;
    }
    .upperlayer{
        padding-left: 0;
    }
    .upperlayer .input {
        margin-left: 0;
        margin-right: 0.5rem;
    }
    .upperlayer .input input{
        width: 10rem;
    }
    .chold{
        max-width: 13rem;
        /* margin-left: 0.5rem; */
        position: relative;
        right: 6%;
    }
    .todolist{
        padding-left: 0;
        max-height: fit-content;
    }
    /* .todo{

    } */


}
